---
layout: base
title: Blog
---
<style>
    .blog-list {
        list-style: none;
        padding-left: 1.5em;
    }

    /*
        .blog-list li {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .blog-list li::before {
        content: "■";
        position: absolute;
        left: -1.5em;
        color: currentColor;
        line-height: inherit;
        font-size: 0.7em;
    }

    .blog-link {
        text-decoration: none;
        border-bottom: none !important;
    }

    .blog-title-wrapper {
        display: inline-block;
        border-bottom: 1px dotted currentColor;
    }

    .blog-date {
        font-size: 0.9em;
        color: rgba(255, 255, 255, 0.7);
        margin-left: 1em;
    }
    */

    .coming-soon {
        font-style: italic;
        color: rgba(255, 255, 255, 0.5);
        margin-top: 2rem;
    }
</style>

<section id="blog">
    <h2>BLOG</h2>
    {#
        <ul class="blog-list">
   {% for post in collections.posts reversed %}
        <li class="blog-item">
            <div class="blog-title-wrapper">
                <a href="{{ post.url }}" class="blog-link">{{ post.data.title }}</a>
            </div>
            <span class="blog-date">{{ post.date | date: "%d-%m-%y" }}</span>
        </li>
    {%- endfor -%}
    </ul>
    #}
    <p class="coming-soon">tecnical & non-technical mini-essays...</p>
</section>